*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  /* background-color: #e6e2e2; */
}

html,body,#root{
  height: 100%;
  width: 100%;
}


main{
  height: 100%;
  width: 100%;
  padding: 2.5rem;
  display: flex;
  gap:1rem;
}

main .left, main .right {
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;

}


main .left {
  background-color: #000000;
  color: #e6e2e2;
  position: relative;


}

.left .code, .code pre, .code pre code {
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0.7rem;
  background-color: rgb(18, 17, 17);
}

main .left .review {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgb(219, 219, 255);
  color: #000000;
  padding: 0.5rem 2rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-radius: 0.7rem;

}

main .right {
  background-color: #434d50;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  overflow: auto;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 2rem;
  margin-top: 1rem;
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white; /* ya koi aur color jo navbar ka ho */
  z-index: 1000; /* taaki dusre elements ke neeche na chhup jaye */
  /* padding: 1rem 2rem; optional: spacing ke liye */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* optional: thoda shadow look dene ke liye */
}
